<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Viswesh Krishna</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-37510430-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://use.typekit.net/zdg7mhc.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>

</head>


<body>
  <div class="main">
    <img src="{{ url_for('static',filename='profile.jpg') }}">
    <p class="header">Viswesh Krishna</p>
    <p class="tagline">
      Computer Science @ <font color="#8c1515">Stanford University</font>
    </p>
    <p class="description">
      Currently developing <a class="inline_light" href="http://kanna.ai/" target="_blank">Kanna</a>
    </p>

    <p class="description-other">
      Previously at Spatial Neuroscience Lab of UCSB, CFRCE, AgricxLabs
    </p>
    <p class="description">
      <a class="links" href="https://www.linkedin.com/in/visweshk" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a class="links" href="https://github.com/visweshk" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a class="links" href="mailto:me@visweshkrishna.com" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>
    </p>
  </div>
</body>

</html>